.container-chat {
    border: 2px solid #6B3B2B;
    background-color: #99533c;
    border-radius: 30px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    color: #deb9ad;
}

.sender {
    font-size: 0.8em;
    
    
}

.darker {
    border-color: #583023;
    background-color: #6B3B2B;
}

.margin-div {
    margin-top: 5rem;
}

.margin-div-principal {
    padding-left: 1rem;
}