@page
@model SitAPupAdmin.Pages.SupprimerUserModel
@{
}

<div class="col-3">
    <div id="supprimerAdmin">
        <label for="idSupprimerAdmin">Id a supprimer</label>
        <input type="text" id="idSupprimerAdmin" />
        <button class="btn btn-primary" onclick="deleteAdmin()">Supprimer</button>
    </div>
</div>

<script>

    function deleteUser() {
        var id = document.getElementById("idSupprimer").value
        var url = "https://localhost:44308/api/Users/" + id
        var xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && (this.status == 200 || this.status == 204)) {
                alert("Suppression Réussie")
                getAllUsers()
                cacherToutLesFormulaire()
            }
        };
        xhttp.open("DELETE", url, true)
        xhttp.send();
    }
</script>