@page
@model SitAPupAdmin.Pages.VoirAdminsModel
@{
}
<button id="getAllAdmins" class="btn btn-primary" onclick="getAllAdmins()">Get all Admins</button>

<script>
    function getAllAdmins() {
        var url = "https://localhost:44308/api/Admins"
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var divReponse = document.getElementById("reponse");
                divReponse.innerHTML = ""
                var reponse = this.responseText;
                var tableauReponse = JSON.parse(reponse);
                var texte = document.createElement("p");

                for (i in tableauReponse) {

                    texte.innerHTML += "ID :" + tableauReponse[i].adminId + "<br> Name : " + tableauReponse[i].name

                }
                divReponse.appendChild(texte);
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    }
</script>