@model web3_tp_final.Models.User
@using web3_tp_final.Helpers;

@if (TempData["nonTrouve"] != "")
{
    <p class="alert-danger">@TempData["nonTrouve"]</p>
}
<div class="d-flex" id="LoginContainer">
    <div class="log-card">
        <div id="LogInCard">
            @await Html.PartialAsync("_LoginCard")
        </div>

        <div id="SignUpCard">
            @await Html.PartialAsync("~/Views/Users/_SignUpCard.cshtml")
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    $('#SignUpSection').click(function (e) {
        e.preventDefault();
        $('#LogInCard').fadeTo(500, 0.0, function () {
            $('#LogInCard').slideUp();
            $('#SignUpCard').slideDown(function () {
                $('#SignUpCard').fadeTo(500, 1.0);
            });
        });
    });

    $('#LogInSection').click(function (e) {
        e.preventDefault();
        $('#SignUpCard').fadeTo(500, 0.0, function () {
            $('#SignUpCard').slideUp();
            $('#LogInCard').slideDown(function () {
                $('#LogInCard').fadeTo(500, 1.0);
            });
        });
    });
</script>