@model web3_tp_final.DTO.ConversationDTO

<div id="ConversationList">
    @await Html.PartialAsync("_ConversationList", (List<KeyValuePair<string, Message>>) ViewBag.LastMessages)
</div>

<div id="MainConversation">
    @await Html.PartialAsync("_MainConversation", Model)
</div>
