@model IEnumerable<web3_tp_final.Models.Appointment>
<div class="container pt-3">
    <h1>
        My Appointments
    </h1>
  
    <div class="row">
        <div class="col-12 mt-4">
            <h3>Appointments as Owner</h3>
            @await Html.PartialAsync("_appointments_list",
                                    (IEnumerable<Appointment>)ViewBag.AppointmentsAsOwner,
                                    new ViewDataDictionary(ViewData)
                                    {
                                        { "TableStatus", "Owner" }
                                    })
        </div>
        <div class="col-12 mt-4">
            <h3>Appointments as Sitter</h3>
            @await Html.PartialAsync("_appointments_list",
                                    (IEnumerable<Appointment>)ViewBag.AppointmentsAsSitter,
                                    new ViewDataDictionary(ViewData)
                                    {
                                        { "TableStatus", "Sitter" }
                                    })
        </div>
    </div>
</div>

<script>
    $('#website-body').addClass('website-background');
</script>