@model web3_tp_final.Models.User

<form class="form" asp-action="Create" asp-controller="Users">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="log-header">
        <h3>Sign up</h3>
        <div class="row no-gutters">
            <div class="col-4 text-right">
                <a href="">
                    <i class="fab fa-facebook facebook-icon"></i>
                </a>
            </div>
            <div class="col-4">
                <a style="padding: 20px;" href="">
                    <i class="fab fa-twitter twitter-icon"></i>
                </a>
            </div>
            <div class="col-4 text-left">
                <a href="">
                    <i class="fab fa-google-plus google-icon"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="log-content">
        <div class="row">
            <div class="input-group col-12">
                <div class="input-group-text input-left-icon input-color">
                    <span>
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                <input asp-for="UserName" class="form-control input-with-left-icon input-color" placeholder="Username...">
            </div>
            <span asp-validation-for="UserName" class="text-danger" data-color="caramel"></span>
            <div class="input-group col-12">
                <div class="input-group-text input-left-icon input-color">
                    <span>
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <input type="password" asp-for="Password" class="form-control input-with-left-icon input-color" placeholder="Password...">
            </div>
            <span asp-validation-for="Password" class="text-danger" data-color="caramel"></span>
            <div class="input-group col-12">
                <div class="input-group-text input-left-icon input-color">
                    <span>
                        <i class="fas fa-at"></i>
                    </span>
                </div>
                <input asp-for="Email" class="form-control input-with-left-icon input-color" placeholder="Email...">
            </div>
            <span asp-validation-for="Email" class="text-danger" data-color="caramel"></span>
            <div class="input-group col-12">
                <div class="input-group-text input-left-icon input-color">
                    <span>
                        <i class="fas fa-mobile-alt"></i>
                    </span>
                </div>
                <input asp-for="PhoneNumber" class="form-control input-with-left-icon input-color" placeholder="Phone number...">
            </div>
            <span asp-validation-for="PhoneNumber" class="text-danger" data-color="caramel"></span>
            <div class="input-group col-12">
                <div class="input-group-text input-left-icon input-color">
                    <span>
                        <i class="fas fa-map-marked"></i>
                    </span>
                </div>
                <input asp-for="Address" class="form-control input-with-left-icon input-color" placeholder="Address...">
            </div>
            <span asp-validation-for="Address" class="text-danger" data-color="caramel"></span>
        </div>
    </div>

    <div class="log-footer text-center">
        <div class="form-group text-center">
            <input type="submit" class="submit" value="Sign up" />
        </div>
        <a href="#" id="LogInSection" class="text-danger" data-color="caramel"> Already have an account ? </a>
    </div>
</form>
