@model web3_tp_final.Models.User

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/Details/Details.css" />
</head>
<h1 class="text-center margin">Details</h1>
<div class="row margin">
    <div class="col-md-12 col-lg-6 mb-3" id="UserDetailsCard">
        @await Html.PartialAsync("_UserDetails")

    </div>
    <div class="col-md-12 col-lg-6">
        <div class="col-12 sap-card-header sap-card-header-round">
            <div class="col-12">
                <div class="row">
                    <div class="col-5" id="Sitter-Name">
                        Global review
                    </div>
                    <div class="col-7" id="Overall-Rating">
                        <span class="fa-pull-right">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (Model.AverageRating() > i)
                                {
                                    <i class="fas fa-star"></i>
                                }
                                else
                                {
                                    <i class="far fa-star"></i>
                                }
                            }
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll">
            @foreach (Appointment appointment in Model.AppointmentSitters)
            {
                @if (appointment.Reviews.Any())
                {
                    <div class="col-12 preview-review-row">
                        <div class="row">
                            <div class="col-2">
                                <div class="row justify-content-center">
                                    @appointment.Review().User.UserName
                                </div>
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (appointment.Review().Stars > i)
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                    else
                                    {
                                        <i class="far fa-star"></i>
                                    }
                                }
                            </div>
                            <div class="col-10" style="word-wrap: break-word;">
                                @appointment.Review().Comment
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    let form;
    $('#BookAppointmentModal').click(function (event) {
        event.preventDefault();
        $.ajax({
            url: '/FindSitter/@Model.UserID/BookAppointment',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                $('#ModalSize').addClass('modal-lg');
                $('#SitAPupModalTitle').text("Book an appointment");
                $('#modal-body').html(data);
                $('#SitAPupModal').modal('show');
            }
        });
    });

    $('#testUsers').submit(function (e) {
        e.preventDefault();
        $(this).validate();
        if ($(this).valid()) {
            alert("Form valid");
        } else {
            alert("Form Invalide");
        }
    });

    function ShowUserDetails() {
        $.ajax({
            url: '/Users/UsersDetails',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                $('#UserDetailsCard').html(data);
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }

    function ShowUserEdit() {
        $.ajax({
            url: '/Users/Edit',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                $('#UserDetailsCard').html(data);
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }

    function SubmitUserEditForm() {
        var form = $('#UserEditForm');
        form.validate();

        if (form.valid()) {
            $.ajax({
                url: '@Url.Action("EditUser", "Users", new { id = Model.UserID })',
                type: 'post',
                dataType: 'html',
                data: {
                    UserName: $('#UserEditUsername').val(),
                    Email: $('#UserEditEmail').val(),
                    PhoneNumber: $('#UserEditPhone').val(),
                    Address: $('#UserEditAddress').val()
                },
                success: function (data) {
                    $('#UserDetailsCard').html(data);
                },
                error: function (xhr) {
                    alert("Error")
                }
            });
        }
    }
</script>