@using web3_tp_final.Helpers;

@{
    ViewData["Title"] = "Accueil";
    var user = SessionHelper.GetObjectFromJson<User>(Context.Session, "user");
    string username = "";
    if (user != null)
    {
        username = user.UserName;
    }
}

@{
    <div>
        <h3 class="text-center p-3">
            Bonjour @username
        </h3>
    </div>
}

<div class="container">

    <div class="row">

        <div class="col">
            <div class="card bg-neutral-100 m-3 p-3">
                <div class="split">
                    <div class="d-flex align-items-center">
                        <h2>Faites garder votre animal lorsque vous en avez besoin</h2>
                    </div>
                    <div>
                        <img src="~/images/pet_clock.jpg" class="img-size padding-image-accueil" />
                    </div>
                </div>
            </div>
            <a class="stretched-link" asp-controller="FindSitter" asp-action="Index"></a>
        </div>

        <div class="col">
            <div class="card bg-primary-200 m-3 p-3">
                <div class="split">
                    <div class="d-flex align-items-center">
                        <h2>Créez un compte pour vous et pour votre animal</h2>
                    </div>
                    <div>
                        <img src="~/images/chienchat.jpg" class="img-size padding-image-accueil" />
                    </div>
                </div>
            </div>
            <a class="stretched-link" asp-controller="Login" asp-action="Index"></a>
        </div>

    </div>

    <div class="row">

        <div class="col">
            <div class="card bg-primary-400 m-3 p-3">
                <div class="split">
                    <div>
                        <img src="~/images/grenouilleordi.jpg" class="img-size padding-image-accueil" />
                    </div>
                    <div class="d-flex align-items-center">
                        <h2>Communiquez entre utilisateurs pour fixer des dates</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-neutral-200 m-3 p-3">
                <div class="split">
                    <div>
                        <img src="~/images/pet_reviews.jpg" class="img-size padding-image-accueil" />
                    </div>
                    <div class="d-flex align-items-center">
                        <h2>Évaluez les gardiens pour améliorer l'expérience de tous</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $('#website-body').addClass('website-background');
</script>
