@using web3_tp_final.Helpers;

@{
    ViewData["Title"] = "Accueil";
    var user = SessionHelper.GetObjectFromJson<User>(Context.Session, "user");
    string username = "";
    if (user != null)
    {
        username = user.UserName;
    }
}


<div class="container">
    <div>
        <h3 class="text-center p-3">
            Bonjour @username
        </h3>
    </div>

    <div class="row">

        <div class="col-lg-6 mb-3 d-flex align-items-stretch">
            <div class="card bg-neutral-100 m-3 p-3">
                <img src="~/images/pet_clock.jpg" class="card-img-top" alt="Dog Clock">
                <div class="card-body d-flex flex-column">
                    <p class="card-text mb-4">Faites garder votre animal lorsque vous en avez besoin</p>
                </div>
            </div>
            <a class="stretched-link" asp-controller="FindSitter" asp-action="Index"></a>
        </div>

        <div class="col-lg-6 mb-3 d-flex align-items-stretch">
            <div class="card bg-primary-200 m-3 p-3">
                <img src="~/images/dog_cat_account.jpg" class="card-img-top" alt="Dog and Cat">
                <div class="card-body d-flex flex-column">
                    <p class="card-text mb-4">Créez un compte pour vous et vos animaux</p>
                </div>
            </div>
            @{
                if (user == null)
                {
                    <a class="stretched-link" asp-controller="Login" asp-action="Index"></a>
                }
                else
                {
                    <a class="stretched-link" asp-controller="Pets" asp-action="Index"></a>
                }
            }

        </div>

    </div>

    <div class="row">

        <div class="col-lg-6 mb-3 d-flex align-items-stretch">
            <div class="card bg-primary-400 m-3 p-3">
                <img src="~/images/grenouilleordi.jpg" class="card-img-top" alt="Frog and Keyboard">
                <div class="card-body d-flex flex-column">
                    <p class="card-text mb-4">Communiquez entre utilisateurs pour fixer des dates</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-3 d-flex align-items-stretch">
            <div class="card bg-neutral-200 m-3 p-3">
                <img src="~/images/pet_reviews.jpg" class="card-img-top" alt="Pet Reviews">
                <div class="card-body d-flex flex-column">
                    <p class="card-text mb-4">Évaluez les gardiens pour améliorer l'expérience de tous</p>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $('#website-body').addClass('website-background');
</script>

