@model IEnumerable<User>

<p>Trouver un gardien</p>

<div class="m-4">
    <h3>Rechecher un gardien disponible à ces dates:</h3>
    <form asp-controller="FindSitter" asp-action="FilterByAvailability">
        <label>Date début</label>
        <input type="date" name="startDate" />
        <label>Date fin</label>
        <input type="date" name="endDate" />
        <input type="submit" value="Rechercher" />
    </form>
</div>

<div class="row">
    @foreach (User user in Model)
    {
        @if (user.UserID != (int)ViewBag.CurrentUserID)
        {
            <div class="col-12">

                <a asp-controller="Users" asp-action="Details" asp-route-id="@user.UserID">
                    <div class="col-12">
                        @user.UserName
                        @for (int i = 0; i < 5; i++)
                        {
                            if (user.AverageRating() > i)
                            {
                                <i class="fas fa-star"></i>
                            }
                            else
                            {
                                <i class="far fa-star"></i>
                            }
                        }
                    </div>
                </a>
            </div>
        }
    }
</div>