@model IEnumerable<User>

<p>Trouver un gardien</p>

<div class="row">
    @foreach (User user in Model)
    {
        @if (user.UserID != (int)ViewBag.CurrentUserID)
        {
            <div class="col-12">

                <a asp-controller="Users" asp-action="Details" asp-route-id="@user.UserID">
                    <div class="col-12">
                        @user.UserName
                        @for (int i = 0; i < 5; i++)
                        {
                            if (user.AverageRating() > i)
                            {
                                <i class="fas fa-star"></i>
                            }
                            else
                            {
                                <i class="far fa-star"></i>
                            }
                        }
                    </div>
                </a>
            </div>
        }
    }
</div>