@model IEnumerable<User>

<div class="container pt-3">
    <h1>Trouver un gardien</h1>
    <div class="row">
        <div col="12">

            <h3>Rechecher un gardien disponible à ces dates:</h3>
            <form asp-controller="FindSitter" asp-action="FilterByAvailability" id="FindAvailableSittersFilter">
                <label>Date début</label>
                <input type="datetime-local" name="startDate" id="StartDate"/>
                <label>Date fin</label>
                <input type="datetime-local" name="endDate" id="EndDate"/>
                <input type="submit" value="Rechercher" />
            </form>
        </div>
        <div class="col-12" id="AvailableSittersList">

            @await Html.PartialAsync("_AvailableSittersList", Model)
        </div>
</div>

<script>
    $('#website-body').addClass('website-background');

    $('#FindAvailableSittersFilter').submit(function (e) {

        e.preventDefault();
        $('#AvailableSittersList').fadeOut("500", function () {
            $.ajax({
                url: '/FindSitter/FilterByAvailability',
                type: 'get',
                dataType: 'html',
                data: {
                    startDate: $('#StartDate').val(),
                    endDate: $('#EndDate').val()
                },
                success: function (data) {
                    $('#AvailableSittersList').fadeIn("500");
                    $('#AvailableSittersList').html(data);
                }
            });
        });
    });
</script>