@using SitAPupAdmin.Helpers
@{

    Admin admin = SessionHelper.GetObjectFromJson<Admin>(Context.Session, "admin");
}


@if (admin != null)
{
    <div class="row">
        <div class="col-3">
            <div id="rechercheParIDUserModif">
                <label for="idRechercheUserModif">ID du User recherché</label>
                <input type="text" name="idRechercheUserModif" id="idRechercheUserModif" />
                <div class="card-footer text-center">
                    <button class="btn btn-neutral btn-round btn-lg border-dark" onclick="rechercheUserParIDUserModif()"> Rechercher </button>
                    </div>
                </div>
            <br />
            <div id="modifierUser" style="visibility:hidden">
                <div>
                    <form id="formModifUser">
                        <div>
                            <label for="userId">Id</label>
                            <input type="text" id="userIdModif" name="userId" />
                        </div>

                        <div>
                            <label for="username">Nom d'utilisateur</label>
                            <input type="text" name="username" id="usernameModifUser" />
                        </div>

                        <div>
                            <label for="email">Email</label>
                            <input type="text" name="email" id="emailModifUser" />
                        </div>

                        <div>
                            <label for="password">Mot de passe</label>
                            <input type="password" name="password" id="passwordModifUser" />
                        </div>

                        <div>
                            <label for="address">Adresse</label>
                            <input type="text" name="address" id="addressModifUser" />
                        </div>

                        <div>
                            <label for="phoneNumber">Numéro de Téléphone</label>
                            <input type="text" name="phoneNumber" id="phonenumberModifUser" />
                        </div>
                        <div class="form-group">
                            <label class="control-label"></label>
                            <select class="form-control" id="status">
                                <option value="active" selected="selected">Active</option>
                                <option value="deactivated">Deactivated</option>
                                
                            </select>
                            
                        </div>
                    </form>
                    <div class="card-footer text-center">
                        <button class="btn btn-neutral btn-round btn-lg border-dark marginTop" onclick="modifyUser()">Modifier</button>
                    </div>
                    </div>
            </div>
        </div>
    </div>
            }
            else
            {
            <a class="dropdown-item" asp-controller="Home" asp-action="Index">Veuillez Vous connecter pour avoir accès à cette page.</a>
            }
            <script>
                function rechercheUserParIDUserModif() {
                    var id = document.getElementById("idRechercheUserModif").value
                    var url = "https://localhost:44308/api/Users/" + id
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            var reponse = this.responseText;
                            var tableauReponse = JSON.parse(reponse);



                            document.getElementById("userIdModif").value = tableauReponse.userId;
                            document.getElementById("usernameModifUser").value = tableauReponse.userName;
                            document.getElementById("passwordModifUser").value = tableauReponse.password;
                            document.getElementById("emailModifUser").value = tableauReponse.email;
                            document.getElementById("addressModifUser").value = tableauReponse.address;
                            document.getElementById("phonenumberModifUser").value = tableauReponse.phoneNumber;
                            document.getElementById("modifierUser").style.visibility = "visible"

                        }
                    };
                    xhttp.open("GET", url, true);
                    xhttp.send();
                }



                function modifyUser() {
                    var donneeFormulaire = document.getElementById("formModifUser");
                    var id = document.getElementById("userIdModif").value
                    var url = "https://localhost:44308/api/Users/" + id
                    var variable = {
                        'userId': $('#userIdModif').val(),
                        'userName': $('#usernameModifUser').val(),
                        'password': $('#passwordModifUser').val(),
                        'email': $('#emailModifUser').val(),
                        'address': $('#addressModifUser').val(),
                        'phoneNumber': $('#phonenumberModifUser').val(),
                        'status': $('#status').val()

                    }

                    $.ajax({
                        url: url,
                        type: 'PUT',
                        contentType: 'application/json',
                        datatype: 'json',
                        data: JSON.stringify(variable),


                        success: function (data) {
                            alert("Modifications à l'utilisateur réussies.");

                        }
                    });
                }
            </script>
