@using SitAPupAdmin.Helpers
@{

    Admin admin = SessionHelper.GetObjectFromJson<Admin>(Context.Session, "admin");
}


@if (admin != null)
{
    <div class="row">
        <div class="col-3">
            <div id="supprimerUser">
                <label for="idSupprimerUser">Id a supprimer</label>
                <input type="text" id="idSupprimerUser" />
                <button class="btn btn-neutral btn-round btn-lg border-dark" onclick="deleteUser()">Supprimer</button>
            </div>
        </div>
    </div>
        }
        else
        {
        <a class="dropdown-item" asp-controller="Home" asp-action="Index">Veuillez Vous connecter pour avoir accès à cette page.</a>
        }
        <script>

            function deleteUser() {
                var id = document.getElementById("idSupprimerUser").value
                var url = "https://localhost:44308/api/Users/" + id
                var xhttp = new XMLHttpRequest()
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && (this.status == 200 || this.status == 204)) {
                        alert("Suppression Réussie")
                       
                    }
                };
                xhttp.open("DELETE", url, true)
                xhttp.send();
            }
        </script>
