@using SitAPupAdmin.Helpers
@{

    Admin admin = SessionHelper.GetObjectFromJson<Admin>(Context.Session, "admin");
}


@if (admin != null)
{
    <h1>Utilisateurs</h1>
    <div class="container" id="reponse">

    </div>
}
else
{
    <a class="dropdown-item" asp-controller="Home" asp-action="Index">Veuillez Vous connecter pour avoir accès à cette page.</a>
}
<script>

    var url = "https://localhost:44308/api/Users"
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var divReponse = document.getElementById("reponse");
            divReponse.innerHTML = ""
            var reponse = this.responseText;
            var tableauReponse = JSON.parse(reponse);
            var texte = document.createElement("p");
            for (i in tableauReponse) {

                texte.innerHTML += "<ul style='list-style-type:none'> <li>ID : " + tableauReponse[i].userId + "</li><li>  Username : " + tableauReponse[i].userName + "</li><li>  Email : " + tableauReponse[i].email + "</li><li style='border-bottom:0.5px solid black'>  Phone Number : " + tableauReponse[i].phoneNumber + "</li></ul>"

            }
            divReponse.appendChild(texte);
        }
    };
    xhttp.open("GET", url, true);
    xhttp.send();

</script>
